@import "../variables/variables";

.nosotros-header{
    
    position: sticky;
    top: 0;
    background-color:$color-header;

}




.cursos-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
}

.cursos-cont-dos {
   
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




.card-uno , .card-dos , .card-tres , .card-cuatro , .card-cinco , .card-seis ,.card-siete , .card-ocho {
    
    @include cursos ;
}




.card-uno  img {
    @include img ;
    height: 95%;

}


.card-dos img {
    @include img ;
    


}

.card-tres img {
    @include img ;
    


}

.card-cuatro img {
    @include img ;
    height: 166px;


}

.card-cinco img {
    @include img ;
    


}

.card-seis img {
    @include img ;
    height: 170px;


}


.card-siete img {
    @include img ;
    


}

.card-ocho img {
    @include img ;
    


}



.card-uno .contenido-uno {
   @include contenido-textos ;

}

.card-dos .contenido-dos {
    @include contenido-textos ;


}

.card-tres .contenido-tres {
    @include contenido-textos ;


}

.card-cuatro .contenido-cuatro   {
    @include contenido-textos ;


}

.card-cinco .contenido-cinco {
    @include contenido-textos ;


}

.card-seis .contenido-seis {
    @include contenido-textos ;

}

.card-siete .contenido-siete {
    @include contenido-textos ;


}

.card-ocho .contenido-ocho {
    @include contenido-textos ;


}

.contenido-uno a {
    color: blue;

    flex-grow: 4;
}




.card-uno .contenido-uno p {
   @include contenido-p ;

}




.card-dos .contenido-dos p {
    @include contenido-p ;

}

.card-tres .contenido-tres p {
    @include contenido-p ;


}

.card-cuatro .contenido-cuatro p {
    @include contenido-p ;


}


.card-cinco .contenido-cinco p {
    @include contenido-p ;


}

.card-seis .contenido-seis p {
    @include contenido-p ;


}


.card-siete .contenido-siete p {
    @include contenido-p ;

}

.card-ocho .contenido-ocho p {
    @include contenido-p ;

}



.card-uno .contenido-uno h3 {
    @include contenido-h3 ;
}

.card-dos .contenido-dos h3 {
    @include contenido-h3 ;
}

.card-tres .contenido-tres h3 {
    @include contenido-h3 ;
}

.card-cuatro .contenido-cuatro h3 {
    @include contenido-h3 ;
}

.card-cinco .contenido-cinco h3 {
    @include contenido-h3 ;
}

.card-seis .contenido-seis h3 {
    @include contenido-h3 ;
}

.card-siete .contenido-siete h3 {
    @include contenido-h3 ;
}

.card-ocho .contenido-ocho h3 {
    @include contenido-h3 ;
}



.cursos-cont .btn-mas a:hover{
    background-color: rgba(15, 112, 20, 0.281)
 }

 .cursos-cont-dos .btn-mas a:hover {
    background-color: rgba(15, 112, 20, 0.281)
 }

.card-uno .contenido-uno a {
   @include contenido-a;
}


.card-dos .contenido-dos a {
    @include contenido-a;
}

.card-tres .contenido-tres a {
    @include contenido-a;
}

.card-cuatro .contenido-cuatro a {
    @include contenido-a;
}

.card-cinco .contenido-cinco a {
    @include contenido-a;
}

.card-seis .contenido-seis a {
    @include contenido-a;
}

.card-siete .contenido-siete a {
   @include contenido-a;
}

.card-ocho .contenido-ocho a {
    @include contenido-a;
}


.banner-cursos {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(78, 80, 85, 0.75), rgba(84, 122, 218, 0.37)) , url("/image/cursos.jpg");
    padding-left: 70px;
    padding-right: 70px;
    background-size:100%;
    background-repeat: no-repeat;
    color: beige;
    display: flex;
    justify-content: center;
     text-align: center;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    font-size: 1em;
    border-radius: 30px;
    margin-bottom: 20px;
    
}





