
    @media only screen and (min-width: 400px){
        .main-class p {
   
            font-size: 15px;
            color:  #fad60a;
            position: absolute;
            padding-top: 70px;
            margin-top: 50px;
            margin-right: 40px;
            top: 20%;
            left: 30%;
            right: 30%;
            transform: translate(-60%,-50%);
            line-height: 32px;
            
           
        }

        .social-links  i {

            margin-right: 40px;
    
           
    
        }


    }


    @media only screen and (max-width: 768px){

        
    
        .main-class p {
   
            font-size: 15px;
            color:  #e6e2cc;
            position: absolute;
            padding-top: 70px;
            margin-top: 50px;
            margin-right: 40px;
            top: 20%;
            left: 30%;
            right: 30%;
            transform: translate(-60%,-50%);
            line-height: 32px;
            
           
        }

        


    }

    @media only screen and (max-width: 600px) {

        

        .main-class {
    
            
            
            div {
                img {
                    
                    
             height: 100%px;
            
            
                }
        
            }
        }



        .banner-cursos {
            padding-top: 30px;
            height: 30vh;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 15px;
           
        }

        



        .main-class p {
   
            font-size: 30px;
            color: #fdd90b;
            position: absolute;
            padding-top: 70px;
            margin-top: 100px;
            margin-right: 40px;
            top: 20%;
            left: 30%;
            right: 30%;
             transform: translate(-60%,-47%);
            line-height: 60px;
            
           


            
           
        }

    }


 


    @media only screen and (min-width: 600px) {

        

        .main-class p {
   
            font-size: 30px;
            color: #e6e2cc;
            position: absolute;
            padding-top: 70px;
            margin-top: 100px;
            margin-right: 40px;
            top: 20%;
            left: 30%;
            right: 30%;
            transform: translate(-60%,-47%);
            line-height: 60px;
            
           
        }

        .container-uno h1 {
            
           text-align: center;
         padding-top: 50px;
          font-size: 20px;
          
         
          
       }

       .social-links  i {

        margin-right: 40px;

       

    }

       .main-class {

        div {
            img{
                height: 670px;
            }
        }
        }



    }





   




    @media only screen and (min-width: 992px) {

        

        .main-class p {
   
            font-size: 30px;
            color: #e6e2cc;
            position: absolute;
            padding-top: 70px;
            top: 20%;
            left: 30%;
            right: 30%;
            transform: translate(-50%,-50%);
            line-height: 60px;
            
           
        }

        .container-uno h1 {
            
           text-align: center;
         padding-top: 50px;
          font-size: 25px;
       }

       .main-class {
        height: 670px;}


    }

    
    
    






    @media screen and (min-width: 1000px){
        .main-class {

            div {
                img{
                    height: 100%;
                    
                }
            }
        }
    
    
    }

   

@media screen and (min-width: 1280px) {
    

    

    
    .main-class {

        div {
            img{
                height: 100%;
                
            }
        }
    }



    .main-class p {
   
        font-size: 30px;
        color: #e6e2cc;
        position: absolute;
        padding-top: 70px;
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-50%,-50%);
        line-height: 60px;
        
       
    }

    .container-uno h1 {
        color: rgb(104, 104, 104);
       text-align: center;
     padding-top: 80px;
      font-size: 25px;
   }
     





    
    

    .container-texto {
        
       
        flex-direction: column;
        
        text-align: center;
    }

   

    
}

/*Media Queri movil*/ 
@media screen and (min-width: 768px) {



    
    .social-links  i {

        margin-right: 40px;

       

    }
    

    

    .container-texto {
        flex-direction: row;
       
        
        
        text-align: center;
    }


   

    

}






@media screen and (max-width: 768px) {
    
   
    

    
    .container-uno h1 {
        color: rgb(104, 104, 104);
       text-align: center;
     padding-top: 38px;
      font-size: 18px;}





    .section-tres-d {
    display: none;
        margin-left: 0px;
        margin-right: 5px;
    img {
        
        height: 400px;
        width: 450px;
        
    }
    
        
        
       
    
    }


    .main-class p {
   
        font-size: 30px;
        color: #e6e2cc;
        position: absolute;
        padding-top: 75px;
        margin-top: 100px;
        margin-right: 40px;
        
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-68%,-45%);
        line-height: 36px;
        
       
    }


    .hermes-main {
         margin-bottom:25px;
        font-size: 40px;
    }


    
    .main-class {
    
       
        
        div {
            img {
               
                
         height: 1100px;
        
         
            }
    
        }
    }

}






 

@media screen and (max-width: 600px)

{


    
    .main-class p {
   
        font-size: 35px;
        
        position: absolute;
        padding-top: 75px;
        margin-top: 100px;
        margin-right: 40px;
        
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-68%,-45%);
        line-height: 30px;
        
        
       
    }
}
@media only screen and (max-width: 400px){

    
    .main-class p {

        font-size: 15px;
        color:   #e6e2cc;
        position: absolute;
        padding-top: 70px;
        margin-top: 50px;
        margin-right: 40px;
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-60%,-32%);
        line-height: 32px;
        
       
    }

    .main-class {
    
       
        
        div {
            img {
               
                
         height: 1100px;
        
         
            }
    
        }
    }

    .social-links  i {

        margin-right: 40px;

       

    }


}

@media only screen and (max-width: 415px){
    
    .main-class p {

        font-size: 15px;
        color:   #e6e2cc;
        position: absolute;
        padding-top: 70px;
        margin-top: 50px;
        margin-right: 40px;
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-60%,-32%);
        line-height: 32px;
        
       
    }

    

    


}

@media only screen and (max-width: 472px){
    
   


    .main-class p {

        font-size: 24px;
        color:  #e6e2cc;
        position: absolute;
        padding-top: 70px;
        margin-top: 50px;
        margin-right: 40px;
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate(-60%,-32%);
        line-height: 26px;
        
       
    }

   

    


}
