.navbar-light .navbar-toggler-icon{
    background-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    color: #eae6ca;
    
}

.hermes-main{
    padding-top: 20px;
    text-shadow: 5px 6px rgba(37, 34, 34, 0.219);
    text-shadow: rgba(253, 220, 5, 0.24) 1px 0 10px;

    font-size: 200%;
}



header{
    display: flex;
    justify-content: space-between;
    background-color:$color-header;
    position: sticky;
    top: 0;
    box-shadow: 1px 5px 5px rgba(39, 39, 39, 0.555);


    

    
    nav {
       
        ul{
            display: flex;
            gap: 40px;

            li{
                
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }
img {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 40px;
    height: 100%;
    width: 30%;
    border-radius: 20px 20px 20px 20px ;
   
    
}

}
/*estilos Main*/
.main-class {
    
    display: flex;
    
    div {
        img {
            display: flex;
            
     height: 100%;
    
     width: 100%;
    object-fit: cover;
    justify-self: center;
        }

    }
}

.nav-link {
    color: #eae6ca;
   font-family: Georgia, 'Times New Roman', Times, serif;

   border-radius: 30px;

   
}

.navbar-nav .nav-item :hover {
    color: #c3c540;
    
    
}

.Texto-main div {
    color: #0ff061;
}



.main-class {
    height: 670px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    
    
    span {
        display: block;
text-align: center;
    }

}

.main-class p {
    

    text-shadow: 5px 4px rgba(37, 34, 34, 0.219);
        font-family:"Sevillana", cursive; ;
        font-size: 50px;
        color: #eae6ca;
        position: absolute;
        padding-top: 70px;
        top: 20%;
        left: 30%;
        right: 30%;
        transform: translate (-50%,-50%);
        line-height: 20px;
        transition: all 0.5s;
    
}



/*Estilos section*/

.container-uno {
    height:200px;
    width: 100%;
    background-color: #eee9c64b;
    overflow: hidden;
    h1 {
        color: rgb(104, 104, 104);
        text-align: center;
      padding-top: 0px;
       font-size: 20px;
       font-family: Georgia, 'Times New Roman', Times, serif;
    }
    box-shadow: 1px 5px 5px rgba(39, 39, 39, 0.555);

}

.container-dos {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 5px 5px rgba(39, 39, 39, 0.555);
          img {

            margin-top: 10px;
            height: 250px;
             width: 100%;
             object-fit: cover;
          }
          
}

.imagen1 {
    width: 260%;
}




.container-texto {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
   text-align: center;
   
   p{
    background-color: #a8a8a80c;
    font-size: 20px;
    margin: auto;
    color:#a8a8a8;
   }

}

.container-textouno , .container-textodos , .container-textotres  {
    flex-basis: 250px;
    flex-grow: 1;

}


.por-que-nosotros h2{
    font-size: 30px;
    text-align: center;
    height: 100px;
    padding-top: 30px;
    color: rgb(240, 229, 229);
    background-color: #a8a8a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}



    
/*Estilos wpp flotante*/

.float {
    position: fixed;
    
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 40px;
    right: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.fa-whatsapp{
    padding-top: 5px;
    padding-left: 4px;
    font-size: 40px
    ;
}

.float:hover {

    background-color: #0ff061;
}


footer .index {
    
   padding-left: 550px;
   text-align: center;
 
   
}

.principal-items {
    display: flex;
    
    border-top:60px solid #292929;
    padding-top: 0px;
    gap: 5px;
    border: 10px slategrey;
    align-content: flex-start;
    
    flex-wrap: wrap;
    img {
        max-width: 100%;
    object-fit: cover;
    }
    
}

.principal-item-uno { flex-basis: 250px;
    color: $color-terapia;
    
    border: 1px solid rgb(184, 182, 182);
    background-image:linear-gradient(rgba(24, 209, 39, 0.75), rgba(5,7,12, 0.75)) , url("../image/terapia-2.jpg");
   
    
   

}

.imglogo {
    
    
    filter: invert(66%) sepia(100%) saturate(398%) hue-rotate(1deg) brightness(90%) contrast(92%);
}