 @import "../variables/variables";
@import "../html/mixin";

 .terapias-header {

    position: sticky;
    top: 0;
    background-color:$color-header;
    width: 100%;

 }



.main-terapia {
    background-color: #a8a8a8ef;
    color: #eae6ca;
    text-align: center;
    font-size: 2em;
    padding-top: 0px;
    margin-top: 30px;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 5px 5px rgba(39, 39, 39, 0.555);
}

.container-items {
    display: flex;
    
    border-top:60px solid #292929;
    padding-top: 0px;
    gap: 5px;
    border: 10px slategrey;
    align-content: flex-start;
    
    flex-wrap: wrap;
    img {
        max-width: 100%;
    object-fit: cover;
    }
    
}

.item-uno , .item-dos, .item-tres , .item-cuatro , .item-cinco , .item-seis { 
    flex-basis: 300px;
    color: $color-terapia;
   
   @include terapias;

   img{
    height: 250px;
    width: 100%;
   }

}







.description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.btn{
    display: block;
    background-color: rgba(121, 113, 105, 0.452);
    text-align: center;
    margin-top: 5px;


    
    
}

.btn-dos, .btn-tres {
    display: block;
    background-color: burlywood;
    text-align: center;
    margin-top: 5px;
}






 
.item-uno,.item-dos, .item-tres, h2 {
    color: $color-terapia;
    text-align: center;
}

.item-cuatro , .item-cinco , .item-seis {
    color: $color-terapia;
    box-shadow: 1px 5px 5px rgba(39, 39, 39, 0.555);
}

.terapias-info{
    margin-top: 20px;
    text-align: center;
}

footer .terapias {
    text-align: center;
    
 }

 /* container-items*/

 .item :hover {
    box-shadow: 0 10px 20px black;
   
}
.info-product {
    padding: 15px 30 px;
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(44, 48, 42);
    }
}


/*estilo hover*/
.item-uno, .item-dos , .item-tres figure {
    overflow: hidden;
}
.item-uno  :hover img {
   @include hover-terapia ;
}
.item-dos  :hover img {
    @include hover-terapia ;
}
.item-tres  :hover img {
    @include hover-terapia ;
    
}

.item-cuatro  :hover img {
    @include hover-terapia ;
}
.item-cinco  :hover img {
    @include hover-terapia ;
}
.item-seis  :hover img {
    @include hover-terapia ;
}

.info-product button {
    background-color: rgb(231, 148, 248);


}

.info-product  :hover  .button-dos{
    color: rgb(0, 29, 190);

}

.description{
    color: rgb(53, 50, 50);
    font-size: 18px;
    text-shadow: rgba(55, 62, 92, 0.288) 1px 0 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    
    

/*Container section-dos */

.container-items-dos {
    display: flex;
    border-top:60px solid #292929;
    padding-top: 50px;
    gap: 10px;
    border: 10px slategrey;
    align-content: flex-start;

    flex-wrap: wrap;

    img{
        max-width: 100%;
    object-fit: cover;
    }
}

/*texto*/

.price {
    flex-grow: 3;
}




.item-cuatro,.item-cinco, .item-seis,  h2 {
    text-align: center;
}
.item-siete h2 {

    text-align: center;
}

/*estilo hover*/

.item-cuatro, .item-cinco , .item-seis, .item-siete figure {
    overflow: hidden;
    
}


.info-product button {
    background-color: rgb(231, 148, 248);
    
    


}

.info-product  :hover  .button-dos{
    color: rgb(43, 70, 226);

}




